@import "colors";
@import "mixins";

$speed: 1.2s;
$size: 50px;
$unit: $size / 16;

%spinner {  
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: $unit solid $strongGrey;
    animation: spinner $speed linear infinite;
}
@keyframes spinner {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.modal-loader {
	display:    none;
    position:   fixed;
    z-index:    2147483647;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color:rgba( 255, 255, 255, .8 );
    &.visible {
    	display: block;
    }
    .modal-loader-container {
        height: 100%;
        @include fully-centered-content;
    }    
}

/* Dots */
%spinner-double-dot-in,
.spinner-double-dot-in {
  @extend %spinner;
  position: relative;
  margin: 0 auto; 
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($unit*2);
    left: ($size/2 -$unit);
    width: ($unit*2);
    height: ($unit*2);
    border-radius: 50%;
    background: $darkGreen;
  }
  &:after {
    top: auto;
    bottom: ($unit*2);
  }
}